@import url('reset.css');

:root {
  --fonte-principal: "Montserrat", sans-serif;
  --background-principal: #FFF8DE;
  --background-secundario: #FFF2C6;
  --cor-detalhes: #AAC4F5;
  --tamanho-texto-principal: 22px;
  --tamanho-texto-secundario: 16px;
}

html, body {
  font-family: var(--fonte-principal), serif;
  background-color: var(--background-principal);
}
