.login-container {
  margin: 120px auto;
  width: fit-content;
  border: 1px solid;
  border-radius: 20px;
  background-color: var(--background-secundario);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-label {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: var(--tamanho-texto-principal);
  gap: 8px;
}

.container-botoes {
  justify-content: center;
}

.login-botao {
  margin: 20px;
  padding: 0 15px;

  font-family: var(--fonte-principal), serif;
  font-size: var(--tamanho-texto-secundario);
  background-color: var(--background-principal);
  border: 1px solid;
  border-radius: 10px;

  cursor: pointer;
}

.login-label input {
  background-color: var(--background-principal);
  border: 1px solid;
  border-radius: 5px;
}
